argparse
dill
fire
matplotlib
numba
psutil
git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git
